body
	margin: 0
	bottom: 0
	background: #ffffff
	font-family: Arial, serif
div
	// border: 0.2px solid black
a
	text-decoration: none
h1
	font-size: 62px
.container
	width: 1142px
	margin: 0 auto
.header
	background: url("../img/Bg.png") no-repeat
	color: #ffffff
	height: 100vh
	.header-nav
		display: flex
		justify-content: space-between
		h3
			font-size: 34px
			font-weight: 400
		nav
			margin-top: 30px
			ul
				display: flex
				li
					list-style: none
					margin-left: 30px
					a
						color: #ffffff
						font-size: 16px
						line-height: 19px
						&:hover
							color: #e71cb4
							border-bottom: 1px solid #e71cb4
	.header-title
		margin-top: 10%
		padding: auto 0
		text-align: center
		h1
			font-size: 60px
			line-height: 72px        
		p
			font-size: 30px
			margin-bottom: 80px
		a
			color: #ffffff
			border: 2px solid #dddddd
			border-radius: 10px
			padding: 20px 100px
			font-size: 16px
.sec-batle
	color: #444444
	margin-top: 140px
	h1
		color: #e71cb4 
	.sec-batle_text
		margin-top: 90px
		font-size: 32px

	h2
		margin-top: 84px
		font-size: 36px
	.sec-batle_flex
		display: flex
		.sec-batle_flex-item
			.sec-batle_p1
				margin-top: 40px
				display: flex
				font-size: 24px
				text-align: left
				.sp-01
					width: 180px
					font-size: 44px
					color: #ffde16
				.sp-02
					width: 180px
					font-size: 44px
					color: #ffbd9e
				.sp-03
					width: 180px
					font-size: 44px
					color: #20c9e0
				.sp-04
					width: 180px
					font-size: 44px
					color: #2eac66
				.sp-05
					width: 180px
					font-size: 44px
					color: #ff6179
				.sp-06
					width: 116px
					font-size: 44px
					color: #ffde16
	p.sec-batle_p2
		font-size: 22px
	p.sec-batle_p3
		margin-top: 48px
		font-size: 36px
	p.sec-batle_p4
		font-size: 14px
		margin-bottom: 60px
	a.sec-batle_btn
		color: #ffffff
		font-size: 22px
		border-radius: 10px
		background-color: #c60ebe
		padding: 30px 200px 	
.sec-feedback
	margin-top: 150px
	text-align: center
	color: #ffffff
	background-image: linear-gradient(to top, #ff00cc 0%, #333399 64%, #333399 100%)
	h1
		padding-top: 100px
	p
		font-size: 22px
	.sec-feedback_flex
		margin-top: 60px
		width: 100%
		
		display: flex
		flex-wrap: wrap
		justify-content: space-between
		.sec-feedback_flex-item
			width: 300px
			img
				width: 263px
				height: 263px
			h2
				font-size: 24px
			p
				font-size: 16px
	h1
		
	.counter
		// обратный отсчет времени
.sec-sponsors
	color: #444444
	text-align: center
	h1
		margin-top: 80px
		.sec-sponsors_flex
			margin-top: 70px
			display: flex
.sec-juri
	color: #444444
	margin-top: 200px
	text-align: center
	h1
	.sec-juri_flex
		display: flex
		justify-content: space-between
		.sec-juri_flex-item
			img
				width: 357px
				height: 357px	
			h2
				font-size: 24px
			p
				font-size: 16px
.sec-contacts
	color: #444444
	text-align: center
	margin-top: 180px
	h1
	p
		margin-top: 70px
		font-size: 22px
	form
		text-align: left
		width: 630px
		margin: 0 auto
		.sec-contacts_flex
			display: flex
			justify-content: space-between
			.sec-contacts_flex-item
				input
					margin-top: 60px
					height: 20px
					border: none
					width: 90%
					border-bottom: 6px solid #555555

		.message
			input
				margin-top: 60px
				height: 20px
				border: none
				width: 95%
				border-bottom: 6px solid #555555			
		button
			float: right
			margin: 40px 30px 0 0
			color: #ffffff
			font-size: 12px
			background: #555555
			padding: 20px 60px
.footer
	color: #444444
	margin-top: 123px
	text-align: center
	background-color: #eeeeee
	
	h1
		padding-top: 67px
		font-size: 43px
	p
		margin-top: 37px
		font-size: 16px
	.footer_email
		margin-top: 26px
		input
			border-radius: 10px
			background: #ffffff
			width: 400px
			height: 60px
		button
			color: #ffffff
			background-color: #c60ebe
			border-radius: 10px
			padding: 20px 50px
	.social

		display: flex
		justify-content: space-between
		width: 300px
		padding: 80px 0 60px 0
		margin: 0 auto 


 



